body{
    background-image: url('/img/backgroundRepeated.jpeg');
    background-size: 100%;
    margin: 0;
}
.container {
    margin: auto;
    width: 80%;
    background-color: #000;
}
.title{
    color: #fff;
    padding: .1rem;
    text-align: center;
}
.contentContainer{
    display: flex;
}
.main{
    width: 70%;
    padding: 2rem;
    color: #000;
    background-color: #fff;
}
.aside{
    width: 30%;
    padding: 1rem;
    background-color: #ffc31f;
}
.asideTitle{
    text-align: center;
    padding: .5rem;
    border-radius: 10px;
    background: black;
    color: #fff;
}
.asideSubtitle{
    text-align: center;
}
.brief{
    text-align: justify;
}
.asideCard{
    background-color: #fff;
    border-radius: 5px;
    padding: 1rem;
    margin-block: 30px;
}
.listMenu{
    list-style-type: none;
    padding: 0;
}
.itemMenu{
    display: block;   
    text-decoration: none;
    padding: 10px;
    color: #000;
    border-bottom: 1px solid #000;
}
.itemMenu:hover{
    background-color: #ececec;
}
.foodContainer{
    display: flex;
    gap: 2rem;
    text-align: justify;
}
.foodCard{
    width: 33%;
    border: 1px solid #000;
    border-radius: 10px;
    padding: 1rem;
    box-shadow: 0px 44px 94px -57px rgba(0,0,0,0.75);
    -webkit-box-shadow: 0px 44px 94px -57px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 44px 94px -57px rgba(0,0,0,0.75);
}
.foodCardSelected{
    width: 40%;
    border: 1px solid #000;
    border-radius: 10px;
    padding: 1rem;
    box-shadow: 0px 44px 94px -57px rgba(0,0,0,0.75);
    -webkit-box-shadow: 0px 44px 94px -57px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 44px 94px -57px rgba(0,0,0,0.75);
}
.imageBorder{
    border-radius: 10px;
    min-height: 6rem;
    max-height: 6rem;
}
.imageCard{
    min-height: 250px;
    max-height: 250px;
}
.footer{
    height: 100px;
    color: #fff;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
}
.selectFoodContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 24px;
    gap: 2rem;
}
.button{
    background-color: #fff;
    padding: 1rem;
    border-radius: .5rem;
    font-weight: bold;
}
.message {
    max-height: 200px !important;
    min-height: 100px !important;
}
/* Fonts del Mini Reto */

h1{
    font-size: 3rem;
}
h2{
    text-align: center;
    font-size: 2rem;
}
h3{
    font-size: 1.5rem;
}
h4{
    font-size: 1.3rem;
    padding: 0;
    margin: 1rem;
}
p{
    font-size: 1.2rem;
}
img{
    width: 100%;
}